/* PALETTE */

.primaryColor{
    color: #141414;
}
.secondaryColor{
    color: #737373;
}
.accentColor{
    color: #94E146;
}
.softAccentColor{
    color: #D1E8B9;
}

/* FONT */

.primaryFont{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.secondaryFont{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* TITOLI, PARAGRAFI, BOTTONI */

h1,h2{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
}

/* OTHER */

.borderDeBug{
    border: solid 3px red;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 50px;
    box-sizing: border-box;
  }
  
  .header h3 {
    margin: 0;
    flex: 1;
    text-align: center;
  }
